body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('background.jpg'); /* Путь к вашей картинке */
    background-size: cover; /* Растягиваем картинку на весь экран */
    background-position: center; /* Центрируем картинку */
    background-repeat: no-repeat; /* Запрещаем повторение картинки */
}

.quiz-container {
    background: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    max-height: 80vh; /* Ограничиваем высоту контейнера */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
}

.question {
    margin-bottom: 20px;
}

.answers {
    text-align: left;
    margin-bottom: 20px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#results {
    margin-top: 20px;
    font-size: 1.2em;
}
